{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}

<div id="page" class="content container">

<div>
        <img class="fr img-circle" src="{{ .Site.BaseUrl }}/css/me.png" alt="我的照片" width="90" height="90"/>

        <p>大家好，我是秦晓辉，工程师一枚。</p>

        <p>混迹帝都IT圈，从狼厂到粗粮，一直从事运维自动化相关的开发工作，用过各种语言，搞过各种系统，主要关注三个Topic：部署、监控、PaaS</p>

        <p>做过的比较典型的项目如下，按时间先后排序：</p>

        <ul>
            <li>百度自动化运维平台Noah</li>
            <li>百度自动化部署系统Archer</li>
            <li>小米监控系统<a href="http://www.jianshu.com/p/b2f77285266c" target="_blank">Falcon</a></li>
            <li>小米PaaS平台<a href="http://www.oschina.net/p/dinp" target="_blank">DINP</a></li>
        </ul>

        <p>12年从山大毕业，转瞬快三年了，风尘仆仆世俗中……各位朋友如果有远程工作机会可以联系我，过几年准备回我大山东：）</p>
    </div>
    <hr>
    <div>
        <div style="float:right;">
            <img src="{{ .Site.BaseUrl }}/css/it_mianshiti.jpg" width=150 height=150>
        </div>
        <div>
            Github：<a target="_blank" href="https://github.com/UlricQin">@UlricQin</a><br>
            Twitter：<a target="_blank" href="https://twitter.com/UlricQin">@UlricQin</a><br>
            Weibo：<a target="_blank" href="http://weibo.com/ulricqin">@UlricQin</a><br>
            Email：<a target="_blank" href="mailto:ulric.qin@gmail.com">ulric.qin@gmail.com</a><br>
            QQ：78832909<br>
            微信公众号：it_mianshiti
        </div>
    </div>

    <br style="clear:both;">
    <hr>

    <div>
        [福利]整理了一个IT牛人博客列表：<a href="http://geniusblog.sinaapp.com/" target="_blank">http://geniusblog.sinaapp.com/</a>
    </div>

</div>

{{ partial "footer.html" . }}
