{{ $baseurl := .Site.BaseUrl }}
<div style="margin-top:10px;border-top:1px solid #ccc;padding-top:10px;color:#aaa;">
    如果您觉得文章有用，对自己工作有帮助，不妨小额赞助我一下，让我有动力继续撸起……
    支付宝：ulricqin@163.com 秦晓辉<br>
    <img src="http://dinp.qiniudn.com/img-zhifubao.jpg" />
</div>
<div>
    <ul id="tags">
      {{ range .Params.tags }}
        <li> <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
</div>

<div>
    <section id="prev">
        &nbsp;{{if .Prev}}<a class="previous" href="{{.Prev.Permalink}}">上一篇：{{.Prev.Title}}</a><br>{{end}}
    </section><section id="next">
        &nbsp;{{if .Next}}<a class="next" href="{{.Next.Permalink}}">下一篇：{{.Next.Title}}</a>{{end}}
    </section>
</div>

